main {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  margin: 0 auto;
  flex-direction: column;
}

button {
  border: none;
  background-color: #111;
  color: #fff;
  font-weight: 700;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  margin: 1rem;
}

img {
  width: 200px;
  height: 200px;
  margin-bottom: 2rem;
}